
.whyUsBox{
    padding: 100px 0;
}
.whyUs{
    display: flex;
    align-items: center;
    justify-content: center;
    & svg{
        font-size: 45px;
        color: #e7ab3c;
    }
    & .shipping-caption{
        padding: 10px;
        & h3{
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
        }

        & p{
            margin: 0;
            font-size: 18px;
        }
    }

}

@media (max-width:991px){
    .whyUs{
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
}